/* large view (like PC) */
/* 45 rem for changing */
@media (min-width: 45rem){
    *{
        max-width: 900px;
        justify-self: center;
        margin: 0 auto;
    }

    .payment{
        text-align: center;
    }

    .firstColumn{
        padding: 1rem;
    }

    .sideTemplate{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

    #firstSection{
        grid-column: 1/2;
        margin: .5rem;
    }

    #secondSection{
        grid-column: 2/3;
}
}