/* Large screen */

:root{
    --darkGreen: #03312E;
    --steelBlue: #457EAC;
}

h1{
    font-family: "Roboto", serif;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.title{
    margin: 0;
    text-align: center;
    color: white;
    background-color: var(--darkGreen);
    padding: 2rem;
    font-size: 50px;
    border-bottom: 20px solid var(--steelBlue);
}

.hero img{
    width: 100%;
    margin-top: -2.2rem;
}

#data{
    position: absolute;
    background-color: rgb(255, 255, 255, .8);
    top: 20rem;
    margin: 1.5rem;
}

#data h1{
    position: relative;
    background-color: var(--darkGreen);
    color: white;
    padding: 1rem;
    margin: 0 3rem;
    right: 3.5rem;
    top: .5rem;
}

.info p{
    text-align: end;
    padding: .5rem;
}

#weather{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top: 50rem;
    right: 2rem;
    margin: 1.5rem;
}

#sun-weather{
    position: absolute;
    bottom: 6.7rem;
    right: .3rem;
}

#weather h1{
    position: relative;
    background-color: var(--darkGreen);
    color: white;
    padding: 1rem;
    margin: 0 -.5rem;
    right: 1.3rem;
    top: .5rem;
}


