/* Large screen */

:root{
    --darkGreen: rgb(3, 49, 46);
    --steelBlue: rgb(69, 126, 172);
}

h1, .label{
    font-family: "Roboto", serif;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.title{
    margin: 0;
    text-align: center;
    color: white;
    background-color: var(--darkGreen);
    padding: 2rem;
    font-size: 50px;
    border-bottom: 20px solid var(--steelBlue);
}

.hero img{
    width: 100%;
}


#data h1{
    position: relative;
    background-color: rgba(3, 49, 46, 0.8);
    color: white;
    padding: 1rem;
    margin: .2rem;
    right: 2rem;
    bottom: .5rem;
}

.line{
    text-align: center;
    margin: .5rem;
}

#sun-weather{
    position: absolute;
    bottom: 9.3rem;
    right: 4rem;
}

#weather h1{
    position: relative;
    background-color: rgba(3, 49, 46, 0.8);
    color: white;
    padding: 1.2rem;
    right: 2rem;
    bottom: .5rem;
}

.value{
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    padding: .5rem;
}

footer{
    background-color: var(--darkGreen);
    padding: .5rem;
    text-align: center;
    color: white;
    border-top: 20px solid var(--steelBlue);
    margin: -.5rem 0;
}

.lastM{
    color: yellow;
    font-size: 13px;
    margin-top: .5rem;
}



#data {
    position: absolute;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border: 1px solid var(--darkGreen);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin: 1.5rem;
    bottom: 15rem;
}

#weather {
    position: absolute;
    max-width: 600px; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border: 1px solid var(--darkGreen); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 1.5rem;
    bottom: 15rem;
    right: 1rem;
}
